@model IEnumerable<LMS.Models.RateOfInterest>

@{
    ViewData["Title"] = "Index";
}
<center>
<h1 style="color:blue;">Rate Of Interests Lists</h1>
</center>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount1)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanType.LoanName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanAmount1)
            </td>
            
            <td>
                    <a asp-area="Users" asp-controller="LoanApplications" asp-action="Create">Apply Loan</a>
            </td>
        </tr>
}
    </tbody>
</table>
